.dt{
    font-weight:400 !important;
    color:RGBA(227,66,52,1) !important;
}
.dd{
    font-weight:400;
    color:RGBA(190,190,190,1)
}
.level_2{
    color:RGBA(153,153,153,1);
}
.rounded{
    border-radius:1em;
    border-color:dimgray;
    border-width: 0;
    border-style:solid;
    box-shadow: 0 0 10px 5px #1b1b1b;
}

